<!DOCTYPE html>
<html>
  <head>
    <title>SI Chat</title>

    <script src="../../socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="index.css" rel="stylesheet" type="text/css">
    
  </head>
  <body>
      <div class="container">
          <div class="row">
              <div class="col-md-5">
                  <div class="panel panel-primary">
                      <div class="panel-heading" id="accordion">
                          <span class="glyphicon glyphicon-comment"></span> SI Chat
                          <div class="btn-group pull-right">
                              <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                  <span class="glyphicon glyphicon-chevron-down"></span>
                              </a>
                          </div> 
                      </div>
                  <div class="panel-collapse collapse" id="collapseOne">
                      <div class="panel-body">
                          <ul class="left clearfix">
                             <div class="chat-body clearfix" id ="messages_left"></div>
                          </ul>

                          <ul class="right clearfix"><span class="chat-img">
                              <img src="https://ptetutorials.com/images/user-profile.png" class="img-circle" />
                              <div class=" pull-right chat-body clearfix" id="messages_right"></div>
                          </ul>
                  </div>
                      </div>
                      <div class="panel-footer">
                          <div class="input-group">
                              <form action="/" method="POST" id="chatForm">
                                <input id="txt" autocomplete="off" autofocus="on" oninput="isTyping()" placeholder="type your message here..." /><button id="bottone">Send</button>
                              </form>
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
      </div>
    <script>
            //var socket = io.connect('http://localhost:8080');
            var socket = io.connect('https://itsvil.herokuapp.com');

            // submit text message without reload/refresh the page
            $('form').submit(function(e){
                e.preventDefault(); // prevents page reloading
                socket.emit('chat_message', $('#txt').val());
                socket.emit('chat', $('#txt').val('ciao'));
                $('#txt').val('');
                return false;
            });

            socket.on('cliccato',function(){
              document.getElementById("bottone").addEventListener("click", function () {
              socket.emit("clicked");
          });
            })

            // append the chat text message
            socket.on('chat_message', function(msg){
              if(msg.indexOf('Server:')>-1){
                $('#messages_right').append($('<li>').html(msg));}
              else {$('#messages_left').append($('<li>').html(msg));}
            });

            // append text if someone is online
            socket.on('is_online', function(username) {
                $('#messages_left').append($('<li>').html(username));
            });

            // ask username
            var username = prompt('Please tell me your name');
            socket.emit('username', username);

    </script>
  </body>
</html>