<!DOCTYPE html>
<html>
  <head>
    <title>SI Chat</title>

    <script src="../../socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
   
    <link href="index.css" rel="stylesheet" type="text/css">
    
  </head>
  <body>
      <div class="container">
          <div class="row">
              <div class="col-md-5">
                  <div class="panel panel-primary">
                      <div class="panel-heading" id="accordion">
                          <span class="glyphicon glyphicon-comment"></span> Chat
                          <div class="btn-group pull-right">
                              <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                  <span class="glyphicon glyphicon-chevron-down"></span>
                              </a>
                          </div>
                      </div>
                  <div class="panel-collapse collapse" id="collapseOne">
                      <div class="panel-body">
                          <ul class="chat">
                              <li class="left clearfix"><span class="chat-img pull-left">
                                  <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                              </span>
                                  <div class="chat-body clearfix">
                                      <ul id="messages"></ul> 
                                  </div>
                              </li>
                          </ul>
                      </div>
                      <div class="panel-footer">
                          <div class="input-group">
                              <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                              <form action="/" method="POST" id="chatForm">
                                <input id="txt" autocomplete="off" autofocus="on" oninput="isTyping()" placeholder="type your message here..." /><button id="bottone">Send</button>
                              </form>
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
      </div>
    <script>
            //var socket = io.connect('http://localhost:8080');
            var socket = io.connect('https://itsvil.herokuapp.com');

            // submit text message without reload/refresh the page
            $('form').submit(function(e){
                e.preventDefault(); // prevents page reloading
                socket.emit('chat_message', $('#txt').val());
                socket.emit('chat', $('#txt').val('ciao'));
                $('#txt').val('');
                return false;
            });

            socket.on('cliccato',function(){
              document.getElementById("bottone").addEventListener("click", function () {
              socket.emit("clicked");
          });
            })

            // append the chat text message
            socket.on('chat_message', function(msg){
                $('#messages').append($('<li>').html(msg));
            });

            // append text if someone is online
            socket.on('is_online', function(username) {
                $('#messages').append($('<li>').html(username));
            });

            // ask username
            var username = prompt('Please tell me your name');
            socket.emit('username', username);

    </script>
  </body>
</html>