<!DOCTYPE html>
<html>
  <head>
    <title>SI Chat</title>

    <script src="../../socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="index.css" rel="stylesheet" type="text/css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
   <script>$(document).on('click', '.panel-heading span.icon_minim', function (e) {
      var $this = $(this);
      if (!$this.hasClass('panel-collapsed')) {
          $this.parents('.panel').find('.panel-body').slideUp();
          $this.addClass('panel-collapsed');
          $this.removeClass('glyphicon-minus').addClass('glyphicon-plus');
      } else {
          $this.parents('.panel').find('.panel-body').slideDown();
          $this.removeClass('panel-collapsed');
          $this.removeClass('glyphicon-plus').addClass('glyphicon-minus');
      }
  });
  $(document).on('focus', '.panel-footer input.chat_input', function (e) {
      var $this = $(this);
      if ($('#minim_chat_window').hasClass('panel-collapsed')) {
          $this.parents('.panel').find('.panel-body').slideDown();
          $('#minim_chat_window').removeClass('panel-collapsed');
          $('#minim_chat_window').removeClass('glyphicon-plus').addClass('glyphicon-minus');
      }
  });
  $(document).on('click', '#new_chat', function (e) {
      var size = $( ".chat-window:last-child" ).css("margin-left");
       size_total = parseInt(size) + 400;
      alert(size_total);
      var clone = $( "#chat_window_1" ).clone().appendTo( ".container" );
      clone.css("margin-left", size_total);
  });
  $(document).on('click', '.icon_close', function (e) {
      //$(this).parent().parent().parent().parent().remove();
      $( "#chat_window_1" ).remove();
  });
  </script>
  </head>
  <body>
      <div class="container">
          <div class="row chat-window col-xs-5 col-md-3" id="chat_window_1" style="margin-left:10px;">
              <div class="col-xs-12 col-md-12">
                <div class="panel panel-default">
                      <div class="panel-heading top-bar">
                          <div class="col-md-8 col-xs-8">
                              <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> SI Chat</h3>
                          </div>
                          <div class="col-md-4 col-xs-4" style="text-align: right;">
                              <a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a>
                              <a href="#"><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1"></span></a>
                          </div>
                      </div>
                      <div class="panel-body msg_container_base">
                          <div class="row msg_container base_sent">
                              <div class="col-md-10 col-xs-10">
                                  <ul id="messages"></ul>
                              </div>
                              <div class="col-md-2 col-xs-2 avatar">
                                  <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
                              </div>
                          </div>
                      </div>
                      <div class="panel-footer">
                          <div class="input-group">
                              <form action="/" method="POST" id="chatForm">
                                <input id="txt" autocomplete="off" autofocus="on" oninput="isTyping()" placeholder="type your message here..." /><button id="bottone">Send</button>
                              </form>
                          </div>
                      </div>
              </div>
              </div>
          </div>
          
          <div class="btn-group dropup">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-cog"></span>
                  <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="#" id="new_chat"><span class="glyphicon glyphicon-plus"></span> Novo</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-list"></span> Ver outras</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-remove"></span> Fechar Tudo</a></li>
                  <li class="divider"></li>
                  <li><a href="#"><span class="glyphicon glyphicon-eye-close"></span> Invisivel</a></li>
              </ul>
          </div>
      </div>
    <script>
            //var socket = io.connect('http://localhost:8080');
            var socket = io.connect('https://itsvil.herokuapp.com');

            // submit text message without reload/refresh the page
            $('form').submit(function(e){
                e.preventDefault(); // prevents page reloading
                socket.emit('chat_message', $('#txt').val());
                socket.emit('chat', $('#txt').val('ciao'));
                $('#txt').val('');
                return false;
            });

            socket.on('cliccato',function(){
              document.getElementById("bottone").addEventListener("click", function () {
              socket.emit("clicked");
          });
            })

            // append the chat text message
            socket.on('chat_message', function(msg){
                $('#messages').append($('<li>').html(msg));
            });

            // append text if someone is online
            socket.on('is_online', function(username) {
                $('#messages').append($('<li>').html(username));
            });

            // ask username
            var username = prompt('Please tell me your name');
            socket.emit('username', username);

    </script>
  </body>
</html>