<!DOCTYPE html>
<html>
  <head>
    <title>SI Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="./assets/style/iniziale.css" rel="stylesheet" type="text/css">
    
  </head>
  <body>
      <div class="mainDiv" style="float:center">
          <div class="row">
             <h1><i class="fa fa-lock" aria-hidden="true"></i> Login</h1>
               
                </div><br /><br />
                 
                
                          <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                        </div>
                        <input type="text" name="" class="form-control" id="uname" placeholder="username or email"/>
                      </div><br />
                 
                          <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-key icon"></i></span>
                        </div>
                          <input type="Password" name="" class="form-control" id="upass" placeholder="password"/>
                      </div><br />
                      <button type="submit" class="btn btn-success" id="submit"><span class="glyphicon glyphicon-off"></span> Login</button>

                       <br /><div style="border:1px solid black;height:1px;width:300px;"></div><br />
                <div class="footer">
                          <p>Don't have an Account! <a href="#">Sign Up Here</a></p>
                  
                </div>
         
          </div>
  <script>
    $("#submit").click(function(){
   var uname  = $("#uname").val();
   var upass = $("#upass").val();
   var loginData ={'name': uname,'pass':upass};
   $.ajax({
       type : 'POST',
       url : '/demo',
       data : loginData,
       success: function(data){
       $("#mainDiv").html(data);
       }
     });
    });
  </script> 

  </body>
</html>